@use 'base';

// Main Sections
main {
    display: none;
    position: relative;

    nav {
        @include base.flex($direction: row, $wrap: nowrap, $gap: 8px);
        position: fixed;
        bottom: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        height: 60px;
        padding: 10px 1rem;
        border: 3px outset base.$primary;
        border-radius: 3rem;
        background-color: #eeeeee;
        z-index: 50;

        ul {
            @include base.flex($direction: row, $wrap: nowrap, $gap: 4px);

            &#navigations li {
                display: inline-block;
    
                a {
                    @extend %nav-btn;

                    &:hover {
                        background-color: base.$dark;
                        img {filter: invert(1);}
                    }
                }
            }

            &#toogles li {
                @extend %nav-btn;
                cursor: pointer;

                &.active {
                    background-color: base.$dark;
                    img {filter: invert(1);}
                }
            }
        }
    }

    section {
        @include base.flex($direction: column, $gap: 2rem);
        min-height: 100vh;
        position: relative;
        overflow: hidden;

        &#invitation {
            @include base.bgImage($src: "../img/8fix.jpg");
            color: base.$textlight;
            overflow: visible;
            z-index: 10;

            article {
                @include base.flex($direction: column, $wrap: wrap, $gap: 0);
                position: absolute;
                bottom: 20vh;

                h2 {
                    font-size: calc(base.$text-sm + 8px);
                    font-weight: bold;
                    border-bottom: 1px solid base.$textlight;
                }

                h1 {
                    @include base.flex($direction: row, $gap: base.$text-sm);
                    @extend %title;
                    font-size: base.$text-md;

                    b {
                        font-size: base.$text-lg;
                    }
                }

                p {
                    font-size: base.$text-sm;
                }
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2) 100%);
                z-index: -1;
            }

            &::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: min(10vw, 200px);
                pointer-events: none;
                background: url('../assets/wave1.svg');
                background-size: cover;
                background-position: center -8px;
                z-index: 1;
            }
        }

        &#couple {
            background: base.$bgcolor2;
            padding: max(calc(10vw + 4rem), 6rem) 0 100px;
            z-index: 9;

            .card {
                @include base.flex($direction: column);
                position: relative;
                width: min(86vw, 640px);
                padding: 3rem 1.5rem;
                margin-top: 180px;
                background-color: base.$bgcolor1;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                border-radius: 1rem;

                & > p {
                    font-size: base.$text-xs;
                }

                .photo-profile {
                    position: absolute;
                    bottom: calc(100% - 1rem);
                    left: 50%;
                    transform: translateX(-50%);
                    width: 150px;
                    height: 180px;
                    padding: 1rem 1rem 0 1rem;
                    background: base.$bgcolor1;
                    border-radius: 100px 100px 0 0;
                    
                    .container {
                        height: 100%;
                        position: relative;
                        overflow: hidden;
                        border-radius: 100px 100px 8px 8px;
    
                        .backdrop-container {
                            @include base.bgImage($src: "../img/6fix.jpg", $position: center top);
                        }
                    }
                    
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 4px;
                        right: -3rem;
                        width: 80px;
                        height: 160px;
                        background: url("../assets/decoration1.png");
                        background-size: cover;
                        transform: scaleX(-1);
                        filter: invert(1);
                        z-index: 12;
                    }
    
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 4px;
                        left: -3rem;
                        width: 80px;
                        height: 160px;
                        background: url("../assets/decoration1.png");
                        background-size: cover;
                        filter: invert(1);
                        z-index: 12;
                    }
                }

                img.basmalah {
                    width: 200px;
                    filter: invert(1);
                }

                
                .container {
                    @include base.flex($justify: space-between, $align: center, $gap: 1rem);
                    padding: 1rem 0;
                    width: 100%;
                    
                    article:first-of-type {
                        @include base.flex($direction:column, $align: start, $gap: 4px, $wrap: nowrap);
                        flex-grow: 1;
                        padding-left: 12px;
                        border-left: 5px solid #53f3f3;

                        * {
                            text-align: start;
                        }
                    }

                    article:last-of-type {
                        @include base.flex($direction:column, $align: end, $gap: 4px, $wrap: nowrap);
                        flex-grow: 1;
                        padding-right: 12px;
                        border-right: 5px solid #ffc0cb;

                        * {
                            text-align: end;
                        }
                    }

                    h3 {
                        font-weight: bolder;
                        text-decoration: underline;
                    }

                    h4 {
                        font-weight: bold;
                    }
                }

                .corners img {
                    width: 60px;
                }
            }
        }

        &#event {
            background: base.$bgcolor1;
            padding: 8rem 0;

            & > .container {
                @include base.bgImage($src: "../img/9.jpg", $position: center bottom);
                position: relative;
                width: min(90vw, 640px);
                padding: min(5vw, 2rem);
                margin-top: 160px;
                border-radius: 2rem 2rem 45vw 45vw;

                .card {
                    @include base.flex($direction: column);
                    position: relative;
                    width: 100%;
                    padding: 6rem 1rem min(28vw, 14rem);
                    color: base.$textlight;
                    text-shadow: 0 0 3px base.$textdark;
                    background: rgba(255, 255, 255, 0.2);
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(2px);
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    border-radius: 45vw;

                    img {
                        width: 60px;
                        animation: floating 2s ease-in-out infinite;
                    }

                    h3 {
                        @extend %title;
                        font-size: base.$text-md;
                        margin-bottom: -12px;
                    }

                    article#countdown {
                        @include base.flex($direction: row, $justify: space-between, $wrap: nowrap, $gap: min(2vw, 2rem));
                        width: min(100%, 400px);
                        color: base.$textdark;
                        text-shadow: none;

                        div {
                            @include base.flex($direction: column, $gap: 0);
                            width: 30%;
                            padding: 8px 8px 1rem;
                            background-color: base.$bgcolor2;
                            border-radius: 1rem;
                            border: 3px outset base.$primary;

                            span {
                                font-size: 1.4rem;
                            }

                            b {
                                font-weight: bolder;
                                font-size: 12px;
                            }
                        }
                    }

                    article#tanggal {
                        border-top: 1px solid base.$light;
                        border-bottom: 1px solid base.$light;
                        padding: 1.5rem 0;

                        h4 {
                            font-size: 1.5rem;
                            font-weight: bolder;
                        }

                        .container {
                            @include base.flex($direction: row, $gap: 1rem);
                            margin: 12px auto;
                            font-size: 1rem;

                            b {
                                display: inline-block;
                                padding: 4px 1rem;
                                border-left: 2px solid base.$light;
                                border-right: 2px solid base.$light;
                                font-size: 2rem;
                            }
                        }

                        & > p {
                            font-weight: bold;
                        }
                    }

                    article#alamat {
                        @include base.flex($direction: column, $gap: 0);

                        h4 {
                            @extend %title;
                            display: inline;
                            font-size: base.$text-md;
                            font-weight: bolder;
                            margin-bottom: 12px;
                        }

                        b {
                            font-weight: bold;
                            font-size: base.$text-sm;
                            margin-bottom: 8px;
                        } 

                        p {
                            font-size: base.$text-xs;
                        }
                    }

                    #map {
                        width: 100%;
                        height: 300px;
                        border-radius: 8px;
                        overflow: hidden;

                        iframe {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: min(80%, 280px);
                    height: 140px;
                    background: url("../assets/decoration2.png");
                    background-size: cover;
                    background-position: center top;
                }
            }
        }

        &#gallery {
            background: base.$bgcolor2;
        }

        &#gift {
            background: base.$bgcolor1;
            padding: 4rem 0 8rem;

            & > .container {
                @include base.bgImage($src: "../img/7.jpg", $position: center bottom);
                position: relative;
                width: min(90vw, 640px);
                padding: 3rem min(5vw, 2rem);

                .card {
                    @include base.flex($direction: column);
                    position: relative;
                    width: 100%;
                    padding: 5rem 2rem;
                    color: base.$textlight;
                    text-shadow: 0 0 3px base.$textdark;
                    background: rgba(0, 0, 0, 0.5);
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
                    backdrop-filter: blur(2px);
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    border-radius: 1rem;

                    & > img {
                        width: 60px;
                        filter: invert(1);
                        animation: floating 2s ease-in-out infinite;
                    }

                    & > p {
                        font-size: max(base.$text-sm, 1.2rem);
                    }

                    article {
                        @include base.flex($direction: column, $gap: 1.2rem);
                        position: relative;
                        width: min(100%, 400px);
                        padding: 3rem 1rem;
                        background-color: base.$bgcolor1;
                        border-radius: 8px;
                        text-shadow: none;
                        color: base.$textdark;

                        .corners img {
                            width: 60px;
                        }

                        h4 {
                            @extend %title;
                            font-weight: bolder;
                            font-size: 2.5rem;
                        }

                        button {
                            @include base.flex($direction: row, $gap: 10px);
                            font-size: 16px;
                            font-weight: bold;
                            cursor: pointer;
                            padding: 10px 1.2rem;
                            border-radius: 30px;
                            background-color: base.$primary;
                            color: base.$textlight;
                            transition: scale 0.3s ease;

                            img {
                                width: 24px;
                                filter: invert(1);
                            }

                            &:hover {
                                scale: 1.1;
                            }
                        }
                    }
                }
            }
        }

    }
}